html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.2;
  font-family: $font-normal;
  color: $text-grey;
  overflow-x: hidden;
}


a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

