@font-face {
  font-weight: 400;
  font-family: "Harmonia Sans";

  src: url("../fonts/HarmoniaSansProCyr-Regular.otf") format("otf"),
    url("../fonts/HarmoniaSansProCyr-Regular.otf") format("otf");
}

@font-face {
  font-weight: 400;
  font-family: "Harmonia SansPro SemiBd";

  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf") format("otf"),
    url("../fonts/HarmoniaSansProCyr-SemiBd.otf") format("otf");
}

@font-face {
  font-weight: 400;
  font-family: "Harmonia SansPro Black";

  src: url("../fonts/HarmoniaSansProCyr-Black.otf") format("otf"),
  url("../fonts/HarmoniaSansProCyr-Black.otf") format("otf");
}

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
