$main-color: #ff5912;
$dark-grey: #444444;
$salad: #63d1bb;
$text-grey: #444444;
$text-dark: #000000;
$text-light: #ffffff;
$text-green: #63d1bb;
$font-normal: 'Harmonia Sans', sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;
$wide-screen: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 480px;
$retina: 320px;
