.main-content {
  background-color: #f4f6f8;
}

.main-content__title {
  margin: 0 auto;
  font-size: 36px;
  padding-top: 120px;
  text-transform: uppercase;
  color: #34404b;
  text-align: center;
}

.main-content__text {
  text-align: center;
  margin: 30px 0 80px;

}
.title__color {
  color: $main-color;
}



.product-full {
  visibility: hidden;

}

.product-more {
  height: 60px;
  margin-top: 90px;
  width: 99%;
  margin-left: 14px;
  background-color: #fff;
  z-index: 3;
  margin-bottom: 100px;
}

.product-more__link {
  display: block;
  height: 60px;
}

.link-dot {
  display: inline-block;
  text-decoration: none;
  background-color: $main-color;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.link-dots {
  text-align: center;
}

.hidden {
  display: none;
}

.product-sale {
  height: 100px;
  background-color: #fff;
  position: relative;
}

.product-adv {
  height: 100px;
  background-color: #fff;
}

.product-sale__logo {
  width: 80px;
  height: 80px;
  margin-left: 62px;
  .product-sale__logo--img {
    margin-top: 11px;
  }
}

.product-sale__title {
  color: #34404b;
  font-family: "Harmonia Sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 62px;
  display: inline-block;
  position: absolute;
}

.product-sale {
  margin-bottom: 120px;
}

.product-sale__text {
  color: #495662;
  font-size: 12px;
  font-family: $font-normal;
  display: inline-block;
  position: absolute;
  margin-left: 62px;
  margin-top: 60px;
}

.product-sale__text__price {
  color: $main-color;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}

.product-adv__text {
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.product-adv__text--color {
  color: $main-color;
}

.product-adv__text--size {
  color: #34404b;
  opacity: 0.4;
  text-align: center;
  font-size: 12px;
}

