.page-header__top {
  height: 60px;
  width: 100%;
  display: inline-block;

}

.page-header__contacts--mail {
  font-size: 12px;
  margin-right: 20px;
}

.fa-envelope {
  color: $main-color;
  padding-right: 9px;
  width: 18px;
  height: 11px;
}

.page-header__contacts {
  margin-top: 26px;
}

.fa-phone-square {
  color: $main-color;
  width: 12px;
  height: 12px;
  margin-right: 7px;
}

.page-header__contacts--phone {
  font-size: 12px;
}

.page-header__social {
  margin-top: 27px;
  font-size: 14px;
  padding-left: 15px;
  .page-header__social--item {
    padding-left: 15px;
    & > i {
      color: #000;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.page-header__bottom {
  height: 120px;
  margin-top: 42px;
}

.main-nav__items {
  list-style: none;
  margin: 54px 0;
}

.main-nav__item {
  display: inline-block;
  padding-left: 20px;
}

.logo {
  margin-top: 42px;
}

.main-nav__link {
  font-size: 16px;
  &:hover{
    color: $main-color;
    transition: color .25s ease;
  }
}

.userpanel {
  margin-top: 54px!important;
  position: relative;
  & > a {
    padding-left: 20px;
    color: #000;
    &:hover {
      color: $main-color;
    }
  }

}
.userpanel-cart i {
  color: $main-color;
}

.userpanel-cart__order {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 46px;
  top: -10px;
  border-radius: 50%;
  background-color: #000;
  font-size: 10px;
  text-align: center;
  color: #fff;
}

.page-header__background {
  height: 650px;
  width: 100%;
  background-image: url('../img/backgrounds/bg.png');
  background-size: cover;
  position: relative;
}

.photo {
  position: absolute;
  width: 50%;
  height: 650px;
  right: 0;
  background-image: url('../img/backgrounds/bg_img.png');
  background-size: cover;
}

.toogle {
  width: 10px;
  height: 36px;
  background-color: $main-color;
  margin: 306px 0;
}

.header-content__title {
  font-family: "Harmonia SansPro Black", sans-serif;
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: 40px;
}

.header-content__title {
  margin-top: 230px;

}

.header-content__text {
  color: #3c4751;
  font-size: 18px;
  line-height: 25px;

}

.header-content__description {
  font-size: 16px;
  color: #495662;
  margin-bottom: 60px;
}

.header-content__price {
  color: #3c4751;
  font-size: 18px;
  line-height: 25px;
}

.header-content__order {
  margin-left: 30px;
  color: $main-color;
  font-weight: 200;
}

.header-content__order--link {
  color: $main-color;
  font-size: 18px;
  font-weight: 200;
}

.fa-cart-arrow-down {
  margin-right: 2px;
}
.slicknav_menu {
  display: none;
}
