.best-sales__title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.best-sale__title--color {
  color: $main-color;
}

.best-sales__text {
  text-align: center;
}

.best-sales {
  width: 100%;
  margin-bottom: 60px;
}

.sales-item {
  width: 370px;
  height: 160px;
  position: relative;
  background-color: #fff;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}

.sales-item__img {
  margin-left: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sales-item__title {
  margin-left: 170px;
  padding-top: 30px;
  font-size: 18px;

}

.sales-item__price {
  color: $main-color;
  margin-top: 25px;
  font-weight: 700;
  margin-left: 170px;

}
